.newPassword {
  width: 100%;
  position: relative;
  background-color: var(--color-floralwhite);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 335px;
  box-sizing: border-box;
  gap: var(--gap-165xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .newPassword {
    gap: var(--gap-73xl);
  }
}
@media screen and (max-width: 450px) {
  .newPassword {
    gap: var(--gap-27xl);
  }
}
