.aCK {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.toBeWritten {
  flex: 1;
  position: relative;
  line-height: 155%;
  display: inline-block;
  max-width: 100%;
}
.toBeWrittenByTheCandidateWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 var(--padding-4xs);
  box-sizing: border-box;
  font-size: var(--font-size-lg);
  font-family: var(--text-regular-normal);
}
.aCKNOWLEDGEMENTParent,
.acknowledgementContent,
.toBeWrittenByTheCandidateWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.aCKNOWLEDGEMENTParent {
  width: 715px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.acknowledgementContent {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 90px var(--padding-31xl) var(--padding-xl);
  box-sizing: border-box;
}
.signaturePlaceholder {
  position: relative;
  line-height: 155%;
  font-weight: 600;
  display: inline-block;
  min-width: 64px;
  align-self: flex-end;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xs);
}
.acknowledgementContentParent,
.signaturePlaceholderParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  font-size: var(--font-size-xl);
  color: var(--grey);
  font-family: var(--text-regular-normal);
}
.acknowledgementContentParent {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-sm);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--black);
  font-family: var(--font-rokkitt);
}
.acknowledgementInner {
  width: 1369px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-45xl);
  box-sizing: border-box;
  max-width: 100%;
  align-self: center;
}
.acknowledgement {
  width: 100%;
  position: relative;
  background-color: var(--base);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-54xl);
  line-height: normal;
  letter-spacing: normal;
}
.textarea {
  align-self: center;
  background-color: var(--color-floralwhite);
  border-width: 2px;
  padding: 20px;
  border-radius: 10px;
  font-size: 26px;
}
.textarea_container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

textarea {
  width: 100%;
  max-height: 481px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

#char-count {
  text-align: right;
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}
.signupButton {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-teal);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-xl);
  white-space: nowrap;
  cursor: pointer;
  color: #ffffff;
  font-size: var(--text-regular-normal-size);
  line-height: 150%;
  font-family: var(--text-regular-normal);
}
@media screen and (max-width: 1200px) {
  .acknowledgementInner {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .aCK {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .acknowledgementContent {
    padding-right: var(--padding-26xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .acknowledgement {
    gap: var(--gap-17xl);
  }
}
@media screen and (max-width: 450px) {
  .aCK {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .acknowledgementContent {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .signaturePlaceholder {
    font-size: var(--text-regular-normal-size);
    line-height: 25px;
  }
  .acknowledgement {
    gap: var(--gap-lg);
  }
}
